# Maven
_tmp/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Models (Large binary files)
*.onnx
*.pt

# ImageJ binaries and local environment
ij.jar
plugins/
test/*.jpg
test/*.png

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/
nb-configuration.xml

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# VS Code
.vscode/

# OS related
Thumbs.db
Desktop.ini
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
*.egg-info/

plan/ 
models/
yolo/models/