# IJTools_UsingOnnxruntime - ONNX Runtime plugins for ImageJ

Plugins>ORT, "Inspect", io.github.wakutakea.ijtoolsusingonnxruntime.ORT_Inspect
Plugins>ORT, "1st Read and Release", io.github.wakutakea.ijtoolsusingonnxruntime.ORT_1st_ReadAndRelease
Plugins>ORT, "2nd Detection", io.github.wakutakea.ijtoolsusingonnxruntime.ORT_2nd_Detection
Plugins>ORT, "2nd Classify", io.github.wakutakea.ijtoolsusingonnxruntime.ORT_2nd_Classify
Plugins>ORT, "2nd Pose", io.github.wakutakea.ijtoolsusingonnxruntime.ORT_2nd_Pose
